@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.flex-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
}

.chart-container {
  position: relative;
  width: 40vw;
  min-height: 200px;

  @media #{$tui-tablet} {
    width: 80vw;
  }

  @media #{$tui-mobile} {
    min-height: auto;
    width: 95vw;
  }
}
